:root {
  --text-color: rgb(80 76 76);
}
@keyframes anim {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
* {
  box-sizing: border-box;
}

body {
  max-width: 1700px;
  margin: 0 auto;
  background-color: rgb(157, 142, 127);
  background-image: url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: "Lakki Reddy", cursive;
  overflow: hidden;
}

.main_container {
  position: relative;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 75%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 10px;
  color: rgb(103, 21, 21);
  filter: drop-shadow(5px 5px 10px #666);
}

.game__containe {
  margin: 0 auto;
}
.game__example {
  position: absolute;
  background-image: url(../img/example.png);
  background-repeat: no-repeat;
  background-size: 500px 500px;
  width: 500px;
  height: 500px;
  top: 27%;
  left: 35%;
}

.game-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.5%;
  margin: 5px;
  border: 2px solid #413523;
  border-radius: 10px;
  background-color: rgba(88, 76, 60, 0.5);
  filter: drop-shadow(5px 5px 10px #666);
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 1rem;
}
.menu__btn {
  top: 0;
  cursor: pointer;
  background-color: transparent;
  color: #a9412d;
  border: none;
  font-family: inherit;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
}
.menu__btn:hover {
  color: #af2c12;
}

.timer {
  padding-top: 28px;
  visibility: hidden;
  text-align: center;
  top: 0;
  left: 50%;
  right: 50%;
  line-height: 0.5;
  font-size: 61px;
  color: rgb(25, 151, 29);
  font-weight: bold;
}

.anim {
  animation: anim 2s alternate ease-in-out infinite;
}

.message__text {
  position: absolute;
  top: 16%;
  left: 43%;
  font-weight: bold;
  color: #701b09;
  z-index: 1;
}

.message-anim {
  font-size: 1rem;
  transform: scale(4);
  transition: transform 2s ease;
}

.message-congratulation {
  left: 48%;
  top: 35%;
}

@media (max-width: 1440px) {
  .message-anim {
    transform: scale(3);
  }
}
@media (max-width: 1200px) {
  .container {
    width: 83%;
  }
  .message-anim {
    transform: scale(2.5);
  }
}
@media (max-width: 1025px) {
  .container {
    width: 100%;
  }
  .menu {
    gap: 4rem;
  }
  .menu__btn {
    font-size: 2.5rem;
  }
  .game__example {
    left: 30%;
  }
}
@media (max-width: 970px) {
  .menu__btn {
    font-size: 2rem;
  }
  .message__text {
    font-size: 0.8rem;
    top: 12%;
  }
}
@media (max-width: 769px) {
  .game-field {
    margin: 2px;
  }
  .message__text {
    font-size: 0.8rem;
    top: 12%;
  }
  .game__example {
    top: 19%;
    left: 26%;
  }
  .message-congratulation {
    font-size: 1.5rem;
    top: 25%;
    left: 45%;
  }
}
@media (max-width: 766px) {
  .game-field {
    width: 18.8%;
  }
  .message__text {
    font-size: 0.8em;
    transform: scale(1.8);
  }
}
@media (max-width: 700px) {
  .menu__btn {
    font-size: 1.5rem;
    position: absolute;
  }
  .container {
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin: 5px;
  }
  .menu__btn1 {
    top: 2%;
    left: 0;
  }
  .menu__btn2 {
    top: 2%;
    left: 25%;
  }
  .menu__btn3 {
    top: 2%;
    left: 60%;
  }
  .game__example {
    height: 350px;
    width: 350px;
    background-size: 350px 350px;
    top: 30%;
    left: 3%;
  }
  .message__text {
    width: 50%;
    text-align: center;
    font-size: 0.9em;
    top: 13%;
    left: 25%;
    transform: scale(1.8);
  }
  .message-congratulation {
    font-size: 1.5rem;
    top: 37%;
    left: 25%;
  }
  .message-win {
    left: 30%;
  }
}
.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.disabled {
  color: rgb(80, 76, 76);
}

.btn-move {
  left: -3%;
}

.shrink {
  padding-top: 20px;
  height: 75px;
}/*# sourceMappingURL=style.css.map */