<<<<<<< HEAD
:root {
  --text-color: rgb(80 76 76);
}
@keyframes anim {
=======
@-webkit-keyframes anim {
>>>>>>> f96dec41cf7101b591b86078cd6f3ca59343cb0f
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes anim {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1700px;
  margin: 0 auto;
  background-color: rgb(194, 158, 134);
  background-image: url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: "Lakki Reddy", cursive;
  overflow: hidden;
}

.main_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
=======
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> f96dec41cf7101b591b86078cd6f3ca59343cb0f
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 75%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 10px;
  color: rgb(103, 21, 21);
  -webkit-filter: drop-shadow(5px 5px 10px #666);
          filter: drop-shadow(5px 5px 10px #666);
}

<<<<<<< HEAD
.game__container {
  margin: 0 auto;
}

.game-field {
=======
.box {
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> f96dec41cf7101b591b86078cd6f3ca59343cb0f
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.5%;
  margin: 5px;
  border: 2px solid #413523;
  border-radius: 10px;
  background-color: rgba(88, 76, 60, 0.5);
<<<<<<< HEAD
  filter: drop-shadow(5px 5px 10px #666);
  cursor: pointer;
=======
  -webkit-filter: drop-shadow(5px 5px 10px #666);
          filter: drop-shadow(5px 5px 10px #666);
>>>>>>> f96dec41cf7101b591b86078cd6f3ca59343cb0f
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 1rem;
}
.menu__btn {
  top: 0;
  cursor: pointer;
  background-color: transparent;
  color: #701b09;
  border: none;
  font-family: inherit;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
<<<<<<< HEAD
=======
  background-color: rgba(88, 76, 60, 0.5);
  -webkit-filter: drop-shadow(5px 5px 10px #666);
          filter: drop-shadow(5px 5px 10px #666);
>>>>>>> f96dec41cf7101b591b86078cd6f3ca59343cb0f
}
.menu__btn:hover {
  color: #af2c12;
}

.timer {
  visibility: hidden;
  text-align: center;
  top: 0;
  left: 50%;
  right: 50%;
  font-size: 3rem;
  color: rgb(25, 151, 29);
  font-weight: bold;
}

.anim {
  -webkit-animation: anim 2s alternate ease-in-out infinite;
          animation: anim 2s alternate ease-in-out infinite;
}

.message__text {
  position: absolute;
  font-weight: bold;
  color: #701b09;
  z-index: 1;
}

.message-anim {
  top: 34%;
  left: 46%;
  font-size: 1rem;
  transform: scale(4);
  transition: transform 2s ease;
}

.message-congratulation {
  left: 39%;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.disabled {
  color: rgb(80, 76, 76);
}

@media (max-width: 490px) {
  .container {
    width: 100%;
  }
  .btn {
    font-size: 15px;
  }
  .btn3 {
    left: 0;
    width: 40%;
  }
  .game-field {
    width: 18.88%;
    margin: 2px;
  }
  .message {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
}
