:root {
    --text-color: rgb(80 76 76);
}

@-webkit-keyframes anim {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes anim {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1700px;
    margin: 0 auto;
    background-color: rgb(194, 158, 134);
    background-image: url(/img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Lakki Reddy', cursive;
    overflow: hidden;
}

.main_container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -ms-flex-direction: column;
    // flex-direction: column;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 75%;
    height: 80vh;
    margin: 0 auto;
    // background-color: rgb(88, 76, 60, .5);
    border-radius: 10px;
    color: rgb(103, 21, 21);
    -webkit-filter: drop-shadow(5px 5px 10px #666);
    filter: drop-shadow(5px 5px 10px #666);

}

.game {
    &__containe {
        margin: 0 auto;
    }

    &__example {
        position: absolute;
        background-image: url(../img/example.png);
        background-repeat: no-repeat;
        background-size: 500px 500px;
        width: 500px;
        height: 500px;
        top: 27%;
        left: 35%;
    }
}

.game-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 18.5%;
    margin: 5px;
    border: 2px solid #413523;
    border-radius: 10px;
    background-color: rgb(88, 76, 60, .5);
    -webkit-filter: drop-shadow(5px 5px 10px #666);
    filter: drop-shadow(5px 5px 10px #666);
    cursor: pointer;
}



.menu {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    gap: 1rem;

    &__btn {
        top: 0;
        // position: absolute;
        cursor: pointer;
        background-color: transparent;
        color: #701b09;
        border: none;
        font-family: inherit;
        white-space: nowrap;
        // border-radius: 10px;
        // padding: 10px 13px;
        font-size: 3rem;
        font-weight: bold;
        // background-color: rgba(179, 162, 162, 0.35);
        // -webkit-filter: drop-shadow(5px 5px 10px #666);
        // filter: drop-shadow(5px 5px 10px #666);

    }

    &__btn:hover {
        color: #af2c12;
    }


}


.timer {
    padding-top: 28px;
    visibility: hidden;
    text-align: center;
    top: 0;
    left: 50%;
    right: 50%;
    line-height: 0.5;
    font-size: 61px;
    color: rgb(25, 151, 29);
    font-weight: bold;
}


.anim {
    -webkit-animation: anim 2s alternate ease-in-out infinite;
    animation: anim 2s alternate ease-in-out infinite;
}

.message__text {
    position: absolute;
    top: 16%;
    left: 43%;
    // border: 1px solid #701b09;
    font-weight: bold;
    // padding: 20px;
    // background-color: rgb(199, 185, 185, .5);
    color: #701b09;
    z-index: 1;
}

.message-anim {
    font-size: 1rem;
    transform: scale(4);
    transition: transform 2s ease;
}

.message-congratulation {
    left: 46%;
    top: 35%;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.disabled {
    color: rgb(80 76 76);
}

.shrink-game-field {
    margin: 3px;
}

@media(max-width: 1440px) {
    .message-anim {
        transform: scale(3);
    }
}

@media(max-width: 1200px) {
    .container {
        width: 83%;
    }

    .message-anim {
        transform: scale(2.5);

    }
}

@media(max-width: 1025px) {
    .container {
        width: 100%;
    }

    .menu {
        gap: 4rem;
    }

    .menu__btn {
        font-size: 2.5rem;
    }

    .message__text {
        top: 10%;
        left: 41%;
    }

    .game__example {
        top: 19%;
        left: 30%;
    }
}

@media(max-width: 769px) {}

@media(max-width: 490px) {

    .container {
        width: 100%;
    }

    .btn {
        font-size: 15px;
    }

    .btn3 {
        left: 0;
        width: 40%;
    }

    .game-field {
        width: 18.88%;
        margin: 2px;
    }

    .message {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
}